{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<div class="card">
    <div class="card-body">
        <form action="{% url 'post-add' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <h3>New Post</h3>
                <textarea class="form-control" name="description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>
{% endif %}

{% for post in page_obj %}
    <div class="card mb-3">
        <div class="card-body">
            <a class="nav-link" href="{% url 'user-detail' post.created_by.pk %}"><strong>{{ post.created_by }}</strong></a>
            <p>{{ post.description }}</p>
            <small>{{ post.created_at }}</small>
            {% if post.created_by == request.user %}
                <form action="{% url 'post-update' %}" method="post" style="display: none;">
                    <!-- {% csrf_token %} -->
                    <input name="id" value="{{ post.id }}" hidden>
                    <div class="form-group">
                        <textarea class="form-control" name="description" rows="3">{{ post.description }}</textarea>
                    </div>
                    <button class="btn btn-primary edit-save">Save</button>
                </form>

                <button class="edit" href="">edit</button>
            {% endif %}
        </div>
    </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}