{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<div class="card">
    <div class="card-body">
        <form action="{% url 'post-add' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <h3>New Post</h3>
                <textarea class="form-control" name="description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>
{% endif %}

{% for post in object_list %}
    <div class="card mb-3">
        <div class="card-body">
            <h2>{{ post.created_by }}</h2>
            <p>{{ post.description }}</p>
            <small>{{ post.created_at }}</small>
        </div>
    </div>
{% endfor %}

{% endblock %}